@import "../../scss/global.scss";


.product-container {
    display: flex;
    flex-wrap: wrap;    
    height: auto;
    width: 100%;
    margin: 0 auto;
    background-color:  white;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 6px -7px rgba(158,158,158,1);
    -moz-box-shadow: 0px 0px 6px -7px rgba(158,158,158,1);
    box-shadow: 0px 0px 6px -7px rgba(158,158,158,1);
    margin-bottom: 14px;
}


.product-img {

    & img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 25px;

        &:hover {
            cursor: pointer;
        }
    }

}


.product-detail {
    width: 40%;
    padding-left: 16px;
    margin-top: 16px;
    word-break: break-all;

    &:hover {
        cursor: pointer;
    }

}


.product-price {
    margin: 0;

    & p {
        font-size: 24px;
        font-weight: 600;

        & img {
            position: absolute;
            margin-top: 6.5px;
            width: 20px;
            height: 20px;
            margin-left: 12px;

        }

    }



}

.product-title {
    font-size: $txt-md !important;
    color: black;
    font-weight: 500 !important;
}


.product-brand {
    margin-top: 16px;
    margin-right: 32px;
    margin-left: auto;
    font-size: 11px;
    color: grey;
    text-transform: capitalize;
}



@media (max-width: 250px) {

    .product-img {

        & img {
            width: 120px;
            height: 120px;
        }
    }

    .product-title {
        font-size: 12px  !important;
    }

    .product-brand {
        width: 100%;
        margin-left: auto;
    }

    .product-detail {
        width: 50%;
        margin-top: 0;
    }

}